.faq {
  &_container {
    width: 960px;
    margin: 0 380px;
    padding: 20px;
  }
  &_title {
    font-size: 3.3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
  }
  &_accordion {
    &-btn {
      height: 110px;
      width: 900px;
      position: relative;
      display: block;
      width: 100%;
      padding: 15px 40px 10px 80px;
      background: #faf5e3;
      color: black;
      font-size: 2.1rem;
      font-weight: 600;
      border: none;
      text-align: left;
      outline: none;
      cursor: pointer;
      .btn_circle {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 25%;
        right: 40px;
        display: block;
        background: #efdfa3;
      }
      &::before {
        width: 30px;
        height: 3px;
        content: "";
        position: absolute;
        background: white;
        top: 50%;
        right: 52px;
        z-index: 1;
      }
      &::after {
        width: 30px;
        height: 3px;
        content: "";
        position: absolute;
        background: white;
        top: 50%;
        right: 52px;
        transform: rotate(-90deg);
        z-index: 1;
      }
      &:focus,
      &:hover {
        opacity: 0.5;
      }
      &--active::after {
        content: none;
      }
    }
    &-body + dt {
      margin-top: 20px;
    }
    &-body {
      visibility: hidden;
      opacity: 0;
      height: 0;
      padding: 15px;
      transition: 0.25s;
      &--active {
        height: 290px;
        visibility: visible;
        opacity: 1;
      }
    }
    &-text {
      font-size: 2.1rem;
      margin-bottom: 20px;
      padding: 40px 80px;
    }
  }
  &_email {
    text-align: center;
    font-size: 2.1rem;
    &-text {
      display: block;
      margin-bottom: 20px;
    }
    &-email {
      font-weight: 600;
      margin-bottom: 50px;
    }
  }
  &_questions {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 180px;
  }
  &_btn-list {
    display: inline-block;
    width: 640px;
    height: 92px;
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 100%;
    padding: 30px 0;
    background: white;
    border: 1px solid black;
    text-align: center;
    transition: 0.25s;
    position: relative;
    &::before {
      position: absolute;
      top: 36%;
      right: 40px;
    }
    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }
}
