.product {
  height: 2300px;
  position: relative;
  &_decoration {
    width: 340px;
    height: 315px;
    z-index: -50;
    &-left {
      position: absolute;
      top: 0;
      left: 0;
    }
    &-right {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &_container {
    margin: 0 225px;
    text-align: center;
  }

  &_title {
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 100px;
    color: #172852;
    letter-spacing: 2px;
    &-logo {
      display: inline-block;
      height: 20px;
      width: 150px;
      padding-top: 10px;
      img {
        transform: translateY(8px);
      }
    }
    &-theme {
      display: inline-block;
      font-size: 50px;
      font-weight: 600;
      width: 280px;
    }
  }

  &_item {
    &-long {
      width: 1210px;
      height: 255px;
      margin-bottom: 70px;
      position: relative;
    }
    &-short {
      width: 1210px;
      height: 400px;
      margin-bottom: 70px;
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  }

  &_tag {
    width: 1210px;
    height: 255px;
    margin-bottom: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tag {
    background: rgb(250, 246, 228);
    width: 435px;
    height: 180px;
    font-weight: 600;
    &_block {
      width: 560px;
      height: 400px;
    }
    &_title {
      font-size: 3.3rem;
      font-weight: 600;
      &--1 {
        position: absolute;
        top: -28px;
        right: 20px;
      }
      &--3 {
        position: absolute;
        right: 30px;
        bottom: 10px;
      }
      &--4 {
        position: absolute;
        top: -29px;
        left: 40px;
      }
      &--5 {
        position: absolute;
        left: 35px;
        bottom: 6px;
      }
      &--6 {
        text-align: right;
        margin-right: 35px;
      }
      &--7 {
        position: absolute;
        top: -25px;
        right: 50px;
      }
    }
    &_sentence {
      font-size: 1.8rem;
      width: 225px;
      height: 115px;
      font-weight: 500;
      &--1 {
        margin-left: auto;
        text-align: left;
        padding-top: 30px;
      }
      &--2 {
        width: 310px;
        margin: 0 auto;
      }
      &--3 {
        width: 365px;
        margin: 50px auto 0;
      }
      &--4 {
        width: 205px;
        margin: 40px 30px 45px 40px;
      }
      &--5 {
        width: 365px;
        margin: 0 auto 0;
        padding-top: 50px;
        text-align: left;
      }
      &--6 {
        width: 370px;
        margin: 0 auto;
        text-align: right;
      }
      &--7 {
        width: 205px;
        height: 110px;
        text-align: left;
        margin: 50px 40px 10px 200px;
      }
    }
    &_img {
      &-long {
        width: 945px;
        height: 255px;
      }
      &-short {
        width: 555px;
        height: 255px;
      }
    }
    &_content {
      width: 435px;
      height: 170px;
      font-weight: 600;
      background: rgba(250, 246, 229, 0.6);
      transition: all 1000ms;
      &--1 {
        position: absolute;
        top: 40px;
        right: -665px;
        &::before {
          display: inline-block;
          content: "";
          background: rgba(250, 246, 229, 0.6);
          position: absolute;
          width: 235px;
          height: 175px;
          right: 0;
          top: 0;
          z-index: -1;
        }
        &.fade-in {
          right: 30px;
        }
      }
      &--2 {
        position: absolute;
        left: -680px;
        padding: 10px;
        &::before {
          display: inline-block;
          content: "";
          background: rgba(250, 246, 229, 1);
          position: absolute;
          width: 435px;
          height: 160px;
          right: 0;
          top: 0;
          z-index: -1;
        }
        &.fade-in {
          left: 40px;
        }
      }
      &--3 {
        position: absolute;
        right: -670px;
        bottom: 10px;
        &::before {
          display: inline-block;
          content: "";
          background: rgba(250, 246, 229, 1);
          position: absolute;
          width: 435px;
          height: 150px;
          right: 0;
          top: 29px;
          z-index: -1;
        }
        &.fade-in {
          right: 30px;
        }
      }
      &--4 {
        position: absolute;
        top: 45px;
        left: -680px;
        &::before {
          display: inline-block;
          content: "";
          background: rgba(250, 246, 229, 1);
          position: absolute;
          width: 275px;
          height: 170px;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &.fade-in {
          left: 0;
        }
      }
      &--5 {
        position: absolute;
        left: -680px;
        bottom: 20px;
        &::before {
          display: inline-block;
          content: "";
          background: rgba(250, 246, 229, 1);
          position: absolute;
          width: 435px;
          height: 170px;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &.fade-in {
          left: 60px;
        }
      }
      &--6 {
        position: absolute;
        top: 0;
        right: -680px;
        &::before {
          display: inline-block;
          content: "";
          background: rgba(250, 246, 229, 0.7);
          position: absolute;
          width: 435px;
          height: 140px;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &.fade-in {
          right: 60px;
        }
      }
      &--7 {
        position: absolute;
        right: -690px;
        top: 45px;
        &::before {
          display: inline-block;
          content: "";
          background: rgba(250, 246, 229, 1);
          position: absolute;
          width: 265px;
          height: 170px;
          right: 0;
          top: 0;
          z-index: -1;
        }
        &.fade-in {
          right: 0;
        }
      }
    }
  }
  .slide-in {
    transform: translateX(0);
  }
}
