.review {
  height: 1160px;
  &_container {
    height: 1100px;
    padding: 90px 0 150px 0;
    background: #ecf6f7;
    text-align: center;
    border: 1px solid black;
    position: relative;
  }
  &_title {
    font-size: 3.3rem;
    font-weight: 600;
    position: relative;
    &::after {
      display: inline-block;
      content: "";
      width: 210px;
      height: 4px;
      background: black;
      position: absolute;
      top: 50px;
      right: 728px;
    }
  }
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  &_carousels {
    height: 720px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    &-card {
      width: 450px;
      height: 650px;
      border: 1px solid black;
      padding: 15px;
      margin: 0 40px;
      img {
        width: 410px;
        height: 615px;
        border: 1px solid black;
      }
    }
    &-right {
      width: 45px;
      height: 45px;
      position: absolute;
      top: 50%;
      right: 90px;
    }
    &-left {
      width: 45px;
      height: 45px;
      position: absolute;
      top: 50%;
      left: 90px;
    }
  }
}
