.slideShow {
  height: 900px;
  &_slides {
    display: flex;
    margin-bottom: 90px;
  }
  h2 {
    text-align: center;
    font-size: 3.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 80px;
  }
  .slide {
    width: 188px;
    height: 188px;
    margin: 0 10px;
  }
  .slide_img {
    width: 188px;
    height: 188px;
  }
  .slide_text {
    font-size: 1.9rem;
    text-align: center;
  }
  &_cation {
    p {
      font-size: 2.1rem;
    }
  }
}
